.DS_Store
iso
weights
storage
.gradio
__pycache__
.venv

.env
cache
dist

**/results
**/evaluation_examples_windows/results

**/tmp/*
**/logs/*
*.log

**/test-servers/recordings/
**/test-servers/screenshots/
**/server2/recordings/
**/server2/screenshots/
**/agent_oogen/screenshots/



models/vision
models/magma/video/*.png

**/node_modules