.DS_Store
.gradio
.venv
__pycache__

dist
**/node_modules


# Ignore all .env files
.env
!servers/server_browser_control/.env
!servers/server_computer_control/.env
!computers/windows/docker/data/init/.env
!computers/windows/parallels_vm/data/init/.env

# Ignore all logs
logs
*.log

# Computers
!computers/windows/docker/data/logs
computers/windows/docker/data/logs/*.txt
computers/windows/docker/data/server_browser_control
computers/windows/docker/data/server_computer_control
!computers/windows/parallels_vm/data/logs
computers/windows/parallels_vm/data/server_browser_control
computers/windows/parallels_vm/data/server_computer_control
computers/**/iso
computers/**/storage

# Servers
**/server_computer_control/recordings/
**/server_computer_control/screenshots/
**/server_browser_control/screenshots/
**/server_browser_control/traces/
**/server_browser_control/user_data/
servers/**/weights

# Agents
**/test-servers/recordings/
**/test-servers/screenshots/
**/test-servers/traces/
**/test-servers/parsed/
**/agent_oogen/screenshots/
**/agent-waa/**/results
**/agent-waa/**/cache
**/agent-waa/**/tmp
**/agent-waa/**/test
**/state
**/logs
**/traces

# Models
models/magma/video/*.png

# UI
**/ui/**/recordings/
